# Базовый URL
MOEX_BASE_URL=https://iss.moex.com/iss

# Таймаут запроса в секундах
MOEX_TIMEOUT=10

# Имя агента при запросах
MOEX_USER_AGENT=pymoex-sdk/0.1.7

# Уровень логирования
MOEX_LOG_LEVEL=WARGING

# Базовая задержка между запросами, секунды
MOEX_REQUEST_DELAY=0.1

# Случайный jitter к задержке, секунды
MOEX_EQUEST_JITTER=0.05

# Настройки приоритетов режимов торгов (JSON формат)
MOEX_PREFERRED_SHARE_BOARDS='["TQBR", "TQTF", "FQBR", "TQTD"]'
MOEX_PREFERRED_BOND_BOARDS='["TQOB", "TQCB", "TQOD", "TQIR"]'
MOEX_PREFERRED_CURRENCY_BOARDS='["CETS", "CNGD", "SNDX"]'

# Tenacity
MOEX_RETRY_ATTEMPTS = 3
MOEX_RETRY_MIN_WAIT = 1
MOEX_RETRY_MAX_WAIT = 10
