# Базовый URL
BASE_URL=https://iss.moex.com/iss

# Таймаут запроса в секундах
TIMEOUT=10

# Имя агента при запросах
USER_AGENT=pymoex-sdk/0.1.6

# Уровень логирования
LOG_LEVEL=WARGING

# базовая задержка между запросами, секунды
REQUEST_DELAY=0.1

# случайный jitter к задержке, секунды
EQUEST_JITTER=0.05

# Настройки приоритетов режимов торгов (JSON формат)
# PREFERRED_SHARE_BOARDS='["TQBR", "TQTF", "FQBR", "TQTD"]'
# PREFERRED_BOND_BOARDS='["TQOB", "TQCB", "TQOD", "TQIR"]'
